rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reviews/{reviewId} {
      // 1. Everyone can see reviews
      allow read: if true;
      
      // 2. Anyone can create a review (if they have an ID from Firebase)
      allow create: if request.auth != null;
      
      // 3. ONLY the Admin email can Edit or Delete
      allow update, delete: if request.auth != null && request.auth.token.email == 'projectsbuilding55@gmail.com';
    }
  }
}
